@font-face {
    font-family: pixels;
    src: url("./Press_Start_2P/PressStart2P-Regular.ttf");
}
*{
    font-family: pixels;
}
body{
    background-image: url("./Asserts/homepage\ bg\ image.jpg");
    background-size: 105%;
    background-position-x:-50px ;
    background-repeat: no-repeat;
    overflow: hidden;
}
.howtoplay{
    position: relative;
    left: 22%;
    top: 260px;
    background-color: #CAE1F0;
    width: 1100px;
    height: 450px;
    border-radius: 19px;
}
h1{
    position: relative;
    left: 60px;
    top: 45px;
}
#description{
    position: relative;
    top: 45px;
    left: 120px;
    font-size: 2rem;
    line-height: 44px;
}
#arrowkeys{
    position: relative;
    left: 67%;
    bottom: 160px;
    height: 200px;
}
#leftarrow{
    position: relative;
    bottom: 40px;
    right: 200px;
    height: 60px;
}
#left{
    position: relative;
    left: 190px;
    bottom: 90px;
}
#toparrow{
    position: relative;
    bottom: 155px;
    left: 430px;
    height: 70px;
}
#top{
    position: relative;
    left: 510px;
    bottom: 210px;
}
#rightarrow{
    position: relative;
    left: 670px;
    bottom: 275px;
    height: 70px;
}
#right{
    position: relative;
    left: 790px;
    bottom: 330px;
}
button{
    position: relative;
    left: 45%;
    top: 330px;
    font-size: 2rem;
    background-color: #96CBEE;
    padding: 20px 45px 20px 45px;
    border: none;
    border-radius: 27px;
}